html,
body,
.wrap {
	@mixin common-size-max;
}

body {
    position: relative;
    font-family: $font-family-base;
    font-size: $font-size-base;
    background: $white;
    color: $font-color-base;
    font-weight: $font-weight-base;
}

.wrap {
    position: relative;
}