@font-face {
	font-family: 'Museo-Sans-Cyrl';
	src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.eot');
	src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.eot?#iefix') format('embedded-opentype'),
		url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.svg') format('svg'),
		url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.woff2') format('woff2'),
		url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.woff') format('woff'),
		url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.ttf') format('truetype'),
		url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.otf') format("opentype");
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'Museo-Sans-Cyrl';
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.eot');
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.svg') format('svg'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.woff2') format('woff2'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.woff') format('woff'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.ttf') format('truetype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-100/Museo-Sans-Cyrl-100.otf') format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo-Sans-Cyrl';
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.eot');
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.svg') format('svg'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.woff2') format('woff2'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.woff') format('woff'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.ttf') format('truetype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo-Sans-Cyrl';
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.eot');
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.svg') format('svg'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.woff2') format('woff2'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.woff') format('woff'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.ttf') format('truetype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-300/Museo-Sans-Cyrl-300.otf') format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo-Sans-Cyrl';
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.eot');
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.svg') format('svg'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.woff2') format('woff2'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.woff') format('woff'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.ttf') format('truetype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo-Sans-Cyrl';
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.eot');
    src: url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.eot?#iefix') format('embedded-opentype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.svg') format('svg'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.woff2') format('woff2'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.woff') format('woff'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.ttf') format('truetype'),
        url('/public/fonts/Museo-Sans-Cyrl/Museo-Sans-Cyrl-700/Museo-Sans-Cyrl-700.otf') format("opentype");
    font-weight: 700;
    font-style: italic;
}